body {
       background-image: url("BackGround.jpg");
}


.question {
    width: 30%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    padding: 2%;
    width: 400px;
    height: 200px;
    max-height: 200px;
    min-width: 400px;
    min-height: 200px;
    max-width: 400px;
}

.answer {
    width: 30%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 1%;
    border-radius: 20px;
    text-decoration: none;
    width: 300x;
    height: 50px;
    max-height: 50px;
    min-width: 300px;
    min-height: 50px;
    max-width: 300px;
}

.top-answer {
    margin-top: 4%;
}

.paragraph-question{
    padding:5% 0%;
}

.bottom-answer {
    float:left;
    margin-left:35%;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 1%;
}


.remove-decoration {
outline: none;
}

.skip-btn {
    float: right;
    margin-top: 1%;
}

