body {
    background-image: url("BackGround.jpg");
    height: 100%;
    margin:0;
}

html {
    height:100%;
}

.nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    background-color: black;  
}
.nav li {
    display:inline;
}


.nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color:white;
}

.container {
    margin: 120px auto;
    width: 80%;
}

.container-nav {
    margin: auto;
    width: 80%;
}

.question {
    width: 30%;
    margin: auto;
    background-color: black;
    color:white;
    padding:2%;
    text-align: center;
    width: 400px;
    height: 200px;
    max-height: 200px;
    min-width: 400px;
    min-height: 200px;
    max-width: 400px;
    border-radius: 8%;
    display: table;

}

.paragraph-question{
    display: table-cell;
    vertical-align: middle;
}

.all-answers {
   
    text-align: center;
    margin:5% auto;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    padding: none;
}

.answer {
    margin-top:5%;
    display: table;
    background-color: blue;
    height: 50px;
    width: 400px;
    border-radius: 17px;
}
.btn {
    background-color: black;
    color:white;
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px;
    margin: 0; 
    width: 100%;
    height: 100%; 
}

.learn {
    float: left;
    width: 50%;
    text-align: center;
    color: black;
    height: 100%;
    display: table;
}

.try-your-skills {
    float: right;
    width: 50%;
    text-align: center;
    color: black;  
    height: 100%;
    display: table;
}

.try-your-skills:hover { 
    background-color: black;
    color:white;
}

.learn:hover { 
    background-color: black;
    color:white;
}

#h1-learn {
    display: table-cell;
    vertical-align: middle;
}

#h1-try {
    display: table-cell;
    vertical-align: middle;
}

#first-page {
    height: 100%;
    display: table;
    width:100%;
}

#second-page {
    display: none;
}

